<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.submit "create cocktail", class: "btn btn-primary" %>
      <% end %>
      </div>
  </div>
</div>
